
// Start Footer
footer
	.container
		.footer-top
			.row
				.col-md-6
					.logo
						a(href='#') Foodly
				.col-md-6
					ul.list-unstyled.social-link.text-right
						a.text-decoration-none(href='#')
							i.fab.fa-facebook-f
						a.text-decoration-none(href='#')
							i.fab.fa-twitter
						a.text-decoration-none(href='#')
							i.fab.fa-instagram
						a.text-decoration-none(href='#')
							i.fab.fa-dribbble
						a.text-decoration-none(href='#')
							i.fab.fa-youtube
		.footer-down
			.row
				.col-md-6.col-lg-4
					.footer-logo
						h2.text-capitalize about us
						p
							| Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an award-winning, full-service
							| production company specializing.
				.col-md-6.col-lg-2
					h5 Quick Links
					ul.list-unstyled
						li
							a.text-decoration-none(href='#') About
						li
							a.text-decoration-none(href='#') Features
						li
							a.text-decoration-none(href='#') Pricing
						li
							a.text-decoration-none(href='#') Download
						li
							a.text-decoration-none(href='#') Reviews
				.col-md-6.col-lg-2
					h5 Support
					ul.list-unstyled
						li
							a.text-decoration-none(href='#') Report a bug
						li
							a.text-decoration-none(href='#') Privacy Policy
						li
							a.text-decoration-none(href='#') Terms &amp; Conditions
						li
							a.text-decoration-none(href='#') Sitemap
						li
							a.text-decoration-none(href='#') FAQs
				.col-md-6.col-lg-4
					h5 Newsletter
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe!
					form(action='')
						input.form-control(type='text' placeholder='Email')
						button(type='submit')
							i.far.fa-paper-plane
		.footer-section-tow.text-center
			.row
				.col-md-12
					p.
						Copyright &copy;2022 All rights reserved | This template is made with #[i.fas.fa-heart] by lami
			
// End Footer

script(src="../vendor/jquery-3.6.0.min.js") 
script(src="../vendor/owl-carousel/owl.carousel.min.js") 
script(src="../vendor/bootstrap/bootstrap.min.js") 
script(src="../vendor/directional-hover/jquery.directional-hover.min.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js")
script(src="js/main.js") 