::selection {
    background: $mainColor;
    color: #fff;
}

body{
    a{
        text-decoration: none;
    }
    .section-top{
        padding-top: 120px;
    }
    .social-links{
        margin-left: 50px;
        li{
            display: inline-block;
            margin: 0 6px;
            font-size: 20px;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            @include prefixer(transition, all .5s ease, webkit moz o);
            &:hover{
                transform: scale(1.3) rotate(360deg);
            }
            a{
                color: #FFF !important;
            }
        }
    }
    .title-section{
        .title{
            color: $textColor;
            margin-bottom: 14px;
            font-weight: bold;
        }
        p{
            width: 40%;
            @media (max-width: 991px) {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
    .btn{
        background-color: $mainColor;
        color: #fff !important;
        border-radius: 50px;
        padding: 10px 40px;
    }
    .custom-form{
        padding: 30px;
        position: relative;
        border: dotted 3px #e1e1e1;
        .form-control{
            height: 50px;
            position: relative;
            padding: 0 20px;
            font-size: 14px;
            background-color: #f9fafc;
            display: block;
            width: 100%;
            border: 1px solid #eee;
            margin-bottom: 20px;
            &:focus{
                box-shadow: none;
            }
        }
        .form-select{
            color: #7a7a7a;
            &:focus{
                box-shadow: none;
            }
        }
        .btn{
            margin-top: 40px;
            display: block;
            font-size: large;
        }
    }
}