mixin breadcrumb(title='#')
	section.breadcrumb-section
		.container 
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item" aria-current="page">#{title}</li>
					if block
						block
				</ol>
			</nav>