// Start NavBar
nav.navbar.navbar-expand-lg
	.container
		a.navbar-brand(href='index.html')
			span(style='font-size: 40px;') Foodly
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'): i.fas.fa-bars
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse(style='margin-left: 50px;')
			// me-auto
			ul.navbar-nav.mb-2.mb-lg-0
				li.nav-item
					a.nav-link(href='index.html') Home
				li.nav-item
					a.nav-link(href='menu.html') Menu
				li.nav-item
					a.nav-link(href='food-details.html') Food Details
				li.nav-item
					a.nav-link(href='about.html') About Us
				li.nav-item
					a.nav-link(href='gallery.html') Gallery
				li.nav-item
					a.nav-link(href='reservation.html') Reservation
				li.nav-item
					a.nav-link(href='contact.html') Content
				//- ul.social-links.list-unstyled
				//- 	li(style='border: 1px solid #1877F2;')
				//- 		a(href='#')
				//- 			i.fab.fa-facebook-f(style='color: #1877F2;')
				//- 	li(style='border: 1px solid #1DA1F2;')
				//- 		a(href='#')
				//- 			i.fab.fa-twitter(style='color: #1DA1F2;')
				//- 	li(style='border: 1px solid #E4405F;')
				//- 		a(href='#')
				//- 			i.fab.fa-instagram(style='color: #E4405F;')
				//- 	li(style='border: 1px solid #CD201F;')
				//- 		a(href='#')
				//- 			i.fab.fa-youtube(style='color: #CD201F;')
				//- 	li(style='border: 1px solid #25D366;')
				//- 		a(href='#')
				//- 			i.fab.fa-whatsapp(style='color: #25D366;')
// End Navbar